{{ "{% extends '@foundation/base.html.twig' %}" }}

{{ "{% block content %}" }}

    <h1>Delete {{ entity_twig_var_singular|capitalize }}</h1>

    <p>Are you sure you want to delete this {{ entity_twig_var_singular }}?</p>

    {{ '{{ form_start(form) }}' }}

        {{ '{{ form_widget(form) }}' }}

        <button type="submit" class="button">
            <i class="fa fa-trash"></i>
            Delete
        </button>
        <a class="button" href="{{ "{{ app.request.headers.get('referer') }}" }}">
            <i class="fa fa-times"></i>
            Cancel
        </a>
    {{ '{{ form_end(form) }}' }}

{{ "{% endblock %}" }}
