{{ "{% extends '@foundation/base.html.twig' %}" }}

{{ "{% block content %}" }}

    <h1>Edit {{ entity_class_name }}</h1>

    {{ '{{ form_start(form) }}' }}

        {{ '{{ form_widget(form) }}' }}

        <button type="submit" class="button">
            <i class="fa fa-save"></i>
            Save
        </button>
        <a class="button" href="{{ "{{ app.request.headers.get('referer') }}" }}">
            <i class="fa fa-times"></i>
            Cancel
        </a>
        <a class="button" href="{{ "{{ path('" ~ route_name ~ "_delete', { '" ~ entity_identifier ~ "': " ~ entity_twig_var_singular ~ "."~ entity_identifier ~" }) }}" }}">
            <i class="fa fa-trash"></i>
            Remove
        </a>
    {{ '{{ form_end(form) }}' }}

{{ "{% endblock %}" }}
