{% block extends %}
{{ "{% extends '@"~bundle|slice(0, -6)~"/Shared/page.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block content %}" }}

    <h1>Edit {{ entity }}</h1>

    {{ '{{ form_start(form) }}' }}

        {{ '{{ form_widget(form) }}' }}

        <button type="submit" class="button">
            <i class="fa fa-save"></i>
            Save
        </button>
        <a class="button" href="{{ "{{ app.request.headers.get('referer') }}" }}">
            <i class="fa fa-times"></i>
            Cancel
        </a>
        <a class="button" href="{{ "{{ path('" ~ route_name_prefix ~ "_delete', { '" ~ route_entity_parameter ~ "': " ~ entity_singularized ~ "."~ route_entity_parameter ~" }) }}" }}">
            <i class="fa fa-trash"></i>
            Remove
        </a>
    {{ '{{ form_end(form) }}' }}

{{ "{% endblock %}" }}
{% endblock body %}
